services:
  jekyll:
    container_name: ddev-${DDEV_SITENAME}-jekyll
    image: jekyll/jekyll
    restart: "no"
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: $DDEV_APPROOT
    environment:
      - VIRTUAL_HOST=$DDEV_HOSTNAME
      - HTTP_EXPOSE=4001:4000
      - HTTPS_EXPOSE=4000:4000
    working_dir: "/srv/jekyll"
    command: jekyll serve --safe
    volumes:
      - ".:/mnt/ddev_config"
      - "ddev-global-cache:/mnt/ddev-global-cache"
      - "..:/srv/jekyll"
